.header{
    overflow: hidden;

    padding: 50px 15%;
}

.header-right{
    float:right;
}
html, body {
  margin:0;
  padding:0;
  height:100%; 
  background-color: #d2e3f8;
} 

.header a{
    color:rgb(43, 54, 66);
    text-align:center;
    padding: 20px;
    font-size:16px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-decoration: none;

}
a:hover {
    color:rgb(255, 102, 42);
  }
  
  .header a.active {
    color:rgb(255, 102, 42);
  }

.mainImage img {
  padding-top: 40px;
  width: 100%;

  }

.mainImage{
  padding-top: 12px;
}

.section{
  position:relative;
}
.mainImage ::after{
  content:"";
  background:black;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}
.section{
  position:absolute;
  width:100%;
  height:100%;


}
.mainImage p{
  text-align:center;
  color: #666599;
  font-size:10px;
  padding-top: 10px;

}
.mainImage h1{
  text-align:center;
  color: #aeadda;
  font-size:20px;
  padding-bottom:10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .bodSection{
    padding: 100px 15%;
  }
.introTxt h3{
  color:white;
  font-size:55px;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  margin:8px;
}

.introTxt{
  margin:0px;
  padding-top:30px;
  padding-bottom:0px;
}

.introTxt p{
  color:white;
  font-size:20px;
  text-align: center;
  font-family: 'Andale Mono', monospace;
  margin:0px;
}


.projDis{
  background-color: rgb(13, 53, 65);
}

.projs{
  padding:20px;
}



.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.container:hover .overlay {
  opacity: 1;
}


.grid-container {

  display: grid;
  padding:30px;
  align-content: center;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  grid-row-gap:10px;
  
  padding-inline: 10%;
  

}

.grid-container > div {
  
  position:relative;
  text-align: left;
  margin-bottom:50px;
  font-size: 30px;

  overflow: hidden;
}

.left-side{
  border-top-left-radius: 7%;
  border-bottom-left-radius: 7%;
  padding-top:35px;
}
.proj-txt{
  padding-left:100px;
  color:rgb(77, 255, 216);
  font-size:25px;
  font-family: 'Courier New', monospace;
  font-weight: bold;

}
.proj-ttl{
  color:white;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:100px;
  font-size:30px;
  font-family: 'Andale Mono', monospace;
  font-weight: bold;

}
.row{
  display:flex;

}
.pp{
  color:white;
  padding-left:100px;
  font-size:15px;
  font-family: 'Andale Mono', monospace;
  font-weight: bold;
}
.fi{
  height:100%;
  width:100%;
}

.pic img{
  background-size: cover;

}
.pic{
  border-top-right-radius: 7%;
  border-bottom-right-radius: 7%;
margin-inline: 0px;
}
.innerpic{
  border-radius: 10%;
  box-shadow: 10px 10px 10px #181818;
  overflow: hidden;
  display: flex;
  width:80%;
  height:auto;

  margin:30px;
}
#up:hover {
  transform: translate(0, -13px);
  box-shadow: 10px 10px 10px #000000;
}

#up{
  transition: 0.3s;
  
}

.gitlink{
  padding-left:100px;
  font-size:19px;
  font-family: 'Andale Mono', monospace;
  font-weight: bold;
  text-decoration: none;
  color:#31e05a;
  
}

.contact{
  height:auto;
}
.navv{
  text-align:right;
  padding-right:50px;
  padding-bottom:30px;
}
.designlink{
  color:rgb(223, 255, 209);
  width:100%;
  font-size:30px;
  text-align:right;
  text-decoration: none;
  font-family: 'Andale Mono', monospace;
}
.catpic img{
  width:340px;
  height:auto;
}

.contact{
  background-color:rgb(134, 134, 134);
}
.leftest img{
  width:360px;
}
.left{
  width:60%;
  padding:40px;
}
.left p{
  font-family: 'Andale Mono', monospace;
  color:black;
  padding-bottom:20px;
}
.titl{
  color:white;
}
.left h3{

  color:white;
  font-family: 'Andale Mono', monospace;
}

.catpic img{
  padding:30px;
  width:300px;
}
.w{
  color:white;
}
.lefts a{
  font-family: 'Andale Mono', monospace;
  text-decoration: none;
  color:rgb(0, 0, 0);

}

.lefts h3{
  padding-top:30px;
  width:500px;
  font-family: 'Andale Mono', monospace;
  color:#000000;
}

#black{
  background-color:rgb(201, 198, 13);
  
  padding:40px;
}

.left a{
  padding-top:200px;
  color:white;
  font-family: 'Andale Mono', monospace;
  text-decoration: none;
}
.w{
  color:white;
}

.links{
  padding-top:90px;
  font-size:30px;
}

#id{
  padding-top:90px;
}
.lin{
padding-top:90px;
font-size:30px;
}