.header{
    overflow: hidden;

    padding: 50px 15%;
}

.header-right{
    float:right;
}
html, body {
  margin:0;
  padding:0;
  height:100%; 
  background-color: #08012a;
} 

.header a{
    color:white;
    text-align:center;
    padding: 20px;
    font-size:16px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-decoration: none;

}
a:hover {
    color:rgb(255, 102, 42);
  }
  
  .header a.active {
    color:rgb(255, 102, 42);
  }

.mainImage img {
  padding-top: 40px;
  width: 100%;

  }

.mainImage{
  padding-top: 12px;
}

.section{
  position:relative;
}
.mainImage ::after{
  content:"";
  background:black;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}
.section{
  position:absolute;
  width:100%;
  height:100%;
  background:rgb(206, 206, 206);

}
.mainImage p{
  text-align:center;
  color: #666599;
  font-size:10px;
  padding-top: 10px;

}
.mainImage h1{
  text-align:center;
  color: #aeadda;
  font-size:20px;
  padding-bottom:10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .bodSection{
    padding: 100px 15%;
  }
.introTxt h3{
  color:black;
  font-size:35px;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  margin:0px;
}

.introTxt{
  margin:0px;
  padding: 50px 15%;
}

.introTxt p{
  color:black;
  font-size:25px;
  text-align: center;
  font-family: 'Andale Mono', monospace;
  margin:0px;
}


.projDis{
  background-color: white;
}

.projs{
  padding:30px;
}
.card{
  box-shadow: 5px 5px 10px 0px  rgba(32, 32, 36, 0.8);
  border-radius: 10px;
  width: 70%;
  height:300px;
  padding: 50px;
  margin-bottom: 30px;
  margin-left:auto;
  margin-right:auto;
  background-color:#000618;
}

.card:hover{
  background-color: rgb(0, 14, 48);
}
.card h4{
  color:white;
  font-size:20px;
  text-align: left;
  font-family: 'Courier New', monospace;
}
.card p{
  color:white;
  font-size:15px;
  text-align: left;
  font-family: 'Courier New', monospace;
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}


.grid-container {

  display: grid;
  padding:30px;
  align-content: center;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  grid-row-gap:10px;
  background-color:white;
  padding-inline: 10%;

}

.grid-container > div {
  background-color:rgb(250, 250, 250);
  position:relative;
  text-align: left;
  margin-bottom:50px;
  font-size: 30px;

  overflow: hidden;
}

.left-side{
  border-top-left-radius: 7%;
  border-bottom-left-radius: 7%;
}
.proj-txt{
  padding-left:100px;
  
  font-size:25px;
  font-family: 'Courier New', monospace;
  font-weight: bold;

}
.proj-ttl{
  padding-top:10px;
  padding-bottom:20px;
  padding-left:100px;
  font-size:30px;
  font-family: 'Andale Mono', monospace;
  font-weight: bold;

}

.pp{
  padding-left:100px;
  font-size:15px;
  font-family: 'Andale Mono', monospace;
  font-weight: bold;
}
.fi{
  height:100%;
  width:100%;
}

.pic img{
  background-size: cover;

}
.pic{
  border-top-right-radius: 7%;
  border-bottom-right-radius: 7%;
margin-inline: 0px;
}
.innerpic{
  border-radius: 10%;
  box-shadow: 10px 10px 10px #8f8f8f;
  overflow: hidden;
  display: flex;
  width:80%;
  height:auto;

  margin:30px;
}
#up:hover {
  transform: translate(0, -13px);
  box-shadow: 10px 10px 10px #5e5d5d;
}

#up{
  transition: 0.3s;
  
}